.app {
	display: grid;
	grid-template-areas: 'title title title' 'nav hr canvas';
	grid-template-columns: auto auto 1fr;
	gap: 1rem 2rem;
	align-content: start;
	height: 100%;

	h1 {
		grid-area: title;
		margin: 0;
	}

	nav {
		grid-area: nav;
		width: min-content;
	}

	hr {
		grid-area: hr;
		height: 100%;
		margin: 0;
	}

	span {
		grid-area: canvas;
		height: 100%;
		overflow: auto;

		canvas {
			border: 1px solid var(--text-color);
		}
	}
}
