div {
	display: grid;
	grid-template-areas: 'title title' 'nav canvas';
	grid-template-columns: auto 1fr;
	gap: 1rem 2rem;
	align-content: start;
	height: 100%;

	h1 {
		grid-area: title;
		margin: 0;
	}

	nav {
		grid-area: nav;
	}

	span {
		grid-area: canvas;
		height: 100%;
		overflow: auto;

		canvas {
			border: 1px solid black;
		}
	}
}
