:root {
	--bg-color: #ffffff;
	--bg-color-secondary: #eeeeee;
	--text-color: initial;
	--border-color: #888888;
	--accent-color: #0060DF;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #1d1f24;
		--bg-color-secondary: #14161a;
		--text-color: #cfcfcf;
		--border-color: #333;
		--accent-color: #0060DF;
	}
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
}

button {
	background-color: var(--accent-color);
	color: var(--bg-color);
	border: 1px solid var(--border-color);

	cursor: pointer;
}

input {
	background-color: var(--bg-color-secondary);
	color: var(--text-color);
	border: 1px solid var(--border-color);
}

select {
	background-color: var(--bg-color-secondary);
	color: var(--text-color);
	border: 1px solid var(--border-color);
}
